<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>iTehnik</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/wallop.css">
    <link rel="stylesheet" href="css/wallop--slide.css">
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/Wallop.min.js"></script>
    <!-- favicons
     ================================================== -->
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body id="top">

<!-- Yandex.Metrika counter
================================================== -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48664346 = new Ya.Metrika({
                    id:48664346,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48664346" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- header
================================================== -->
<header>
    <div class="row">
        <div class="logo">
            <a href="index.php">iTehnik</a>
        </div>
        <div class="head-contacts">
            <a href="tel:74951202604">+7 495 120 26 04</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll"  href="#intro" title="">Главная</a></li>
                <li><a class="smoothscroll"  href="#manifest" title="">Манифест</a></li>
                <li><a class="smoothscroll"  href="#services" title="">Услуги</a></li>
                <li><a class="smoothscroll"  href="#testimonials" title="">Отзывы</a></li>
                <li><a class="smoothscroll"  href="#contacts" title="">Контакты</a></li>
                <!-- <li class="highlight with-sep"><a href="#" title="">Sign Up</a></li> -->
            </ul>
        </nav>
        <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div>
</header> <!-- /header -->

<!-- intro section
================================================== -->
<section id="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row mt45">
            <div class="col-twelve text">
                Мы занимаемся разработкой и консультациями по решениям на платформе 1С &mdash; это наша главная компетенция и мы делаем это хорошо.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve">
                <h1>Пройдите небольшой тест и мы посмотрим чем мы сможем вам помочь.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-twelve">
                <p id="step3"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-twelve">
                <div class="Wallop Wallop--slide h550">
                    <div class="Wallop-list">
                        <div class="Wallop-item mt150">
                            <div class="choice-wrap">
                                <a id="step11" class="button stroke choice first-choice" href="#" title="" data-choice="low" data-step="2">Я не знаю что мне нужно от 1С и мне требуется консультация</a>
                            </div>
                            <div class="choice-wrap">
                                <a id="step12" class="button stroke choice second-choice" href="#" title="" data-choice="medium" data-step="2">У меня есть 1С и мне хочется большего, чем сейчас</a>
                            </div>
                            <div class="choice-wrap">
                                <a id="step13" class="button stroke choice third-choice" href="#" title="" data-choice="pro" data-step="2">Я четко понимаю, что хочу от автоматизации на 1С и мне нужно найти толкового подрядчика</a>
                            </div>
                        </div>
                        <div class="Wallop-item mt150">
                            <div class="choice-wrap">
                                <a id="step21" class="button stroke choice first-choice" href="#" title="" data-choice="low" data-prevchoice="" data-step="3"></a>
                            </div>
                            <div class="choice-wrap">
                                <a id="step22" class="button stroke choice second-choice" href="#" title="" data-choice="medium" data-prevchoice="" data-step="3"></a>
                            </div>
                            <div class="choice-wrap">
                                <a id="step23" class="button stroke choice third-choice" href="#" title="" data-choice="pro" data-prevchoice="" data-step="3"></a>
                            </div>
                        </div>
                        <div class="Wallop-item">
                            <div class="form_wrap_wrap">
                                <div class="form_wrap">
                                    <fieldset class="questions">
                                        <ol class="ltnone">
                                            <li>
                                                <label for="pname">Имя</label>
                                                <input id="pname" name="pname" type="text" placeholder="Представьтесь пожалуйста" required="">
                                            </li>
                                            <li>
                                                <label for="email">Адрес электронной почты</label>
                                                <input id="email" name="email" type="email" placeholder="example@domain.com" required="">
                                            </li>
                                            <li>
                                                <label for="phone">Телефон</label>
                                                <input id="phone" name="phone" type="tel" placeholder="+74950000000" required="">
                                            </li>
                                            <li>
                                                <label for="textarea">Комментарий</label>
                                                <textarea id="comment"></textarea>
                                            </li>
                                        </ol>
                                    </fieldset>
                                    <div id="errorMessage mfp-hide" class="errorMessage"></div>
                                    <a id="btnSend" class="button stroke mfp-hide">Отправить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="button stroke Wallop-buttonPrevious mfp-hide btnGoBack">Назад</a>
                    <button class="Wallop-buttonNext mfp-hide">Next</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-twelve">
                <a class="button stroke smoothscroll" href="#manifest" title="">Узнать больше</a>
            </div>
        </div>
    </div>

    <a id="confirmationBtn" class="mfp-hide" href="#popup-confirmation">ConfirmationBtn</a>
    <div id="popup-confirmation" class="popup-modal mfp-hide">
        <h4>Спасибо за ваше обращение</h4>
        <div class="confirmation-text">
            Вскоре мы с вами свяжемся.
            <a class="close-popup">Close</a>
        </div>
    </div>

</section> <!-- /intro -->


<!-- Manifest Section
================================================== -->
<section id="manifest">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Манифест</h5>
            <h1>Как мы работаем</h1>
            <!-- <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->
        </div>
    </div>
    <div class="row process-content">
        <div class="row">
            <div class="col-twelve text">
                Подавляющее большинство наших клиентов пришли к нам по рекомендации и остаются с нами по сегодняшний день.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve text">
                У нас нет отдела продаж, секретарей, администраторов. Мы не занимаемся активными продажами.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve text">
                У нас вы сразу общаетесь с опытными аналитиками, консультантами или руководителями проектов.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve text">
                Лучше всего у нас получается работать с теми клиентами, которые описывают стоящие перед ними вопросы в терминах реальных процессов и бизнес-полезности.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve text">
                Мы предлагаем только то, что считаем полезным нашим клиентам и открыто даём свои рекомендации, даже если они говорят о том, что что-то автоматизировать не нужно.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve text">
                Мы ориентируемся на длительные отношения и собственную репутацию и смотрим чуть дальше, чем на нашу выручку с клиента в текущем месяце.
            </div>
        </div>
        <div class="row">
            <div class="col-twelve text">
                Мы решаем только те вопросы, которые находятся в нашей компетенции. Если у клиента возникает вопрос за рамками нашей компетенции мы помогаем клиенту решить этот вопрос с привлечением компетентных подрядчиков.
            </div>
        </div>
    </div> <!-- /process-content -->
</section> <!-- /manifest-->


<!-- Services Section
================================================== -->
<section id="services">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Услуги</h5>
            <h1>Что мы можем вам предложить</h1>
            <!-- <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->
        </div>
    </div>
    <div class="row features-content">
        <div class="features-list block-1-3 block-s-1-2 block-tab-full group">
            <div class="bgrid feature">
                <span class="icon"><i class="icon-window"></i></span>
                <div class="service-content">
                    <h3 class="h05">Сопровождение 1С</h3>
                    <p>
                        <ul>
                            <li>Операционная деятельность (УТ, Розница, Документооборот, КА, УПП, ERP)</li>
                            <li>Администрирование 1С (обновление конфигураций, платформы)</li>
                            <li>Регламентированный учет (БП, ЗУП)</li>
                            <li>Выбор и подключение торгового оборудования к 1С</li>
                        </ul>
                    </p>
                </div>
            </div> <!-- /bgrid -->
            <div class="bgrid feature">
                <span class="icon"><i class="icon-paint-brush"></i></span>
                <div class="service-content">
                    <h3 class="h05">Внедрение 1С</h3>
                    <p>
                        <ul>
                            <li>Анализ потребностей клиента, выбор подходящего решения</li>
                            <li>Разработка функциональных требований</li>
                            <li>Внедрение решения</li>
                        </ul>
                    </p>
                </div>
            </div> <!-- /bgrid -->
            <div class="bgrid feature">
                <span class="icon"><i class="icon-file"></i></span>
                <div class="service-content">
                    <h3 class="h05">Разработка 1С</h3>
                    <p>
                        <ul>
                            <li>Разработка нестандартных решений на платформе 1С</li>
                            <li>Интеграция 1С с внешними сервисами, другими учётными системами, сайтами, мессенджерами</li>
                            <li>Обмен данными между конфигурациями 1С</li>
                            <li>Создание http и SOAP-сервисов на стороне 1С</li>
                        </ul>
                    </p>
                </div>
            </div> <!-- /bgrid -->
            <div class="bgrid feature">
                <span class="icon"><i class="icon-layers"></i></span>
                <div class="service-content">
                    <h3 class="h05">Выстраивание методологии и автоматизация управленческого учета</h3>
                    <p>
                        <ul>
                            <li>Анализ, автоматизация и оптимизация операционного учета</li>
                            <li>Построение методологии получения управленческой себестоимости</li>
                            <li>Получение управленческой отчетности</li>
                        </ul>
                    </p>
                </div>
            </div> <!-- /bgrid -->
            <div class="bgrid feature">
                <span class="icon"><i class="icon-gift"></i></span>
                <div class="service-content">
                    <h3 class="h05">Сервисы и лицензии 1С</h3>
                    <p>
                        <ul>
                            <li>Консультации по сервисам 1С и их продажа (ИТС проф и техно, 1С:ЭДО, 1С:Отчетность, 1С:Контрагент, 1С:ДиректБанк и прочие)</li>
                            <li>Консультации в выборе и продажа лицензионного программного обеспечения от компании 1С</li>
                        </ul>
                    </p>
                </div>
            </div> <!-- /bgrid -->
        </div> <!-- features-list -->
    </div> <!-- features-content -->
</section> <!-- /services -->

<!-- Testimonials Section
================================================== -->
<section id="testimonials">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Отзывы</h5>
            <h1>Что говорят о нас наши клиенты</h1>
        </div>
    </div>
    <div class="row flex-container">
        <div id="testimonial-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="testimonial-author">
                        <img src="images/avatars/avatar-1.jpg" alt="Author image">
                        <div class="author-info">
                            Чернов К.
                            <span class="position">Генеральный директор, ОАО «Безоткатные поставки».</span>
                        </div>
                    </div>
                    <p>
                        ОАО «Безоткатные поставки» — компания, которая зарабатывает на коррупции&nbsp;по-честному.
                        Мы не&nbsp;платим&nbsp;откаты, а снижаем&nbsp;цену и выигрываем&nbsp;по-правилам. А если госзаказчик&nbsp;не&nbsp;соглашается, то идем&nbsp;в&nbsp;суд.
                        <br /><br />
                        Решение о выборе&nbsp;поставщика было принято на основании результатов&nbsp;тендера, который уверенно выиграла&nbsp;компания&nbsp;«iТехник».
                        <br /><br />
                        В результате комплекса работ был&nbsp;внедрён и запущен&nbsp;в&nbsp;эксплуатацию программный продукт «1С:&nbsp;Управление&nbsp;Торговлей 11».
                        Система была&nbsp;адаптирована под наши&nbsp;требования.
                        Были проведены работы по автоматизации наших&nbsp;бизнес-процессов, регистрации&nbsp;новостей по тендерам, обмены&nbsp;данными с сайтом компании и соц. сетями.
                        Было проведено обучение&nbsp;пользователей.
                        <br /><br />
                        В течение внедрения, а также в период сопровождения сотрудники и руководитель компании «iТехник» Горошков&nbsp;П.П. показали&nbsp;себя надёжными и компетентными&nbsp;профессионалами.
                        Все наши изначальные пожелания были&nbsp;реализованы в разумные&nbsp;сроки с великолепным&nbsp;качеством. В&nbsp;результате получился&nbsp;продукт, который&nbsp;превзошел наши&nbsp;ожидания.
                        <br /><br />
                        Мы смело можем&nbsp;рекомендовать компанию «iТехник» в качестве&nbsp;партнера, если вы хотите внедрить программные продукты на платформе 1С.
                    </p>
                </li> <!-- /slide -->
                <li>
                    <div class="testimonial-author">
                        <img src="images/avatars/avatar-2.jpg" alt="Author image">
                        <div class="author-info">
                            Терский Е.
                            <span>операционный директор, ООО «ЮМА».</span>
                        </div>
                    </div>
                    <p>
                        ООО «ЮМА» известная&nbsp;компания дистрибьютор спортивного&nbsp;инвентаря и одежды от всемирно&nbsp;известных фирм, таких как Burton,&nbsp;Oakley и ряда других.
                        <br /><br />
                        В результате развития компании, имеющаяся информационная&nbsp;система стала не&nbsp;удовлетворять требованиям&nbsp;бизнеса, в результате руководством компании было принято&nbsp;решение о переходе на современный&nbsp;инструмент ведения&nbsp;учета, который предлагался на момент выбора на рынке – на «1С:Управление&nbsp;торговлей 8».
                        Рассмотрев значительное&nbsp;количество подрядчиков, компания&nbsp;остановила свой выбор на компании&nbsp;«iТехник».
                        <br /><br />
                        В результате комплекса работ был&nbsp;внедрён и запущен&nbsp;в&nbsp;эксплуатацию программный продукт «1С:Управление&nbsp;Торговлей 8». Система была&nbsp;адаптирована под наши&nbsp;требования. Были проведены&nbsp;консультации по автоматизации&nbsp;наших&nbsp;бизнес-процессов, сформулировано техническое задание на реализацию, произведена настройка&nbsp;обменов данными с имеющимися в компании информационными&nbsp;системами и внешними&nbsp;информационными системами клиентов, проведена&nbsp;реализация технического задания,  выполнено&nbsp;обучение сотрудников, осуществлен промышленный&nbsp;запуск системы в эксплуатацию.
                        <br /><br />
                        В течение всего внедрения сотрудники и, отдельно, руководитель&nbsp;компании «iТехник» Горошков&nbsp;П.П. показали&nbsp;себя&nbsp;надёжными и компетентными&nbsp;профессионалами. Все наши изначальные&nbsp;пожелания были&nbsp;реализованы в разумные&nbsp;сроки с великолепным&nbsp;качеством. В результате получился&nbsp;продукт, который соответствовал&nbsp;нашим ожиданиям.
                        <br /><br />
                        Мы смело можем&nbsp;рекомендовать компанию&nbsp;«iТехник» в качестве партнера, если вы хотите&nbsp;внедрить программные продукты на платформе 1С.
                    </p>
                </li> <!-- /slide -->
            </ul> <!-- /slides -->
        </div> <!-- /testimonial-slider -->
    </div> <!-- /flex-container -->
</section> <!-- /testimonials -->


<!-- contacts
================================================== -->
<section id="contacts">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Контакты</h5>
            <h1>Контактная информация</h1>
        </div>
    </div>
    <div class="row faq-content">
        <div class="q-and-a block-1-2 block-tab-full group">
            <div class="bgrid">
                <p>Москва, ул. Армянский пер., д. 9, с. 1</p>
                <p>тел. <a href="tel:74951202604">+7 495 120 26 04</a></p>
            </div>
        <div class="mapWrapper">
            <div class="bgrid">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2e0b8669d50335b5b41f69ca0a7d5c79ae54a5c0d7b01186556ca166167b5e23&amp;width=960&amp;height=534&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>

    </div> <!-- /faq-content -->
</section> <!-- /contacts -->

<!-- footer
================================================== -->
<footer>
    <div class="footer-bottom">
        <div class="row">
            <div class="col-twelve">
                <div class="copyright">
                    <span>Отправляя любую форму на сайте, Вы даете свое согласие на обработку персональных данных и соглашаетесь с <a id="personalDataPopup" href="#popup-personal-data">Политикой конфиденциальности</a></span>
                    <span>© Copyright iТехник {{ year }}.</span>
                    <!-- <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span> -->
                </div>
                <div id="go-top" style="display: block;">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
                </div>
            </div>
        </div> <!-- /footer-bottom -->
    </div>

    <div id="popup-personal-data" class="popup-modal mfp-hide">
        <h4>Политика в отношении обработки персональных данных</h4>
        <div class="security-text">
            <p class="head">1. Общие положения</p>
            <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ИП "Горошков П.П." (далее – Оператор).</p>
            <ul>
                <li>1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
                <li>1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта http://itehnik.ru.</li>
            </ul>

            <p class="head">2. Основные понятия, используемые в Политике</p>
            <ul>
                <li>2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;</li>
                <li>2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</li>
                <li>2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу http://itehnik.ru;</li>
                <li>2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;</li>
                <li>2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;</li>
                <li>2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</li>
                <li>2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</li>
                <li>2.8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта http://itehnik.ru;</li>
                <li>2.9. Пользователь – любой посетитель веб-сайта http://itehnik.ru;</li>
                <li>2.10. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;</li>
                <li>2.11. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;</li>
                <li>2.12. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;</li>
                <li>2.13. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.</li>
            </ul>

            <p class="head">3. Оператор может обрабатывать следующие персональные данные Пользователя</p>
            <ul>
                <li>3.1. Фамилия, имя, отчество.</li>
                <li>3.2. Электронный адрес.</li>
                <li>3.3. Номера телефонов.</li>
                <li>3.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</li>
                <li>3.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</li>
            </ul>

            <p class="head">4. Цели обработки персональных данных</p>
            <ul>
                <li>4.1. Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем; заключение, исполнение и прекращение гражданско-правовых договоров; уточнение деталей заказа.</li>
                <li>4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты info@itehnik.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».</li>
                <li>4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</li>
            </ul>

            <p class="head">5. Правовые основания обработки персональных данных</p>
            <ul>
                <li>5.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте http://itehnik.ru. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.</li>
                <li>5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).</li>
            </ul>

            <p class="head">6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</p>
            <p>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p>

            <ul>
                <li>6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</li>
                <li>6.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.</li>
                <li>6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора support@itehnik.ru с пометкой «Актуализация персональных данных».</li>
                <li>6.4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора info@itehnik.ru с пометкой «Отзыв согласия на обработку персональных данных».</li>
            </ul>

            <p class="head">7. Трансграничная передача персональных данных</p>
            <ul>
                <li>7.1 Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.</li>
                <li>7.2 Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на− трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.</li>
            </ul>

            <p class="head">8. Заключительные положения</p>
            <ul>
                <li>8.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты support@itehnik.ru.</li>
                <li>8.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.</li>
                <li>8.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу http://itehnik.ru.</li>
            </ul>
        </div>
        <p class="text-mute">Дата последнего обновления: 05.03.18</p>
        <a class="close-popup">Close</a>
    </div>
    
</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!-- Java Script
================================================== -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>

</html>